emnist-letters-train.csv
generated_mnist
CGAN_1
CGAN_4
CGAN_3
CGAN_mnist
ACGAN_mnist
ACGAN_mnist_2
Improved DCGAN
Improved DCGAN BM
Improved DCGAN BIGGER
Improved DCGAN 2 GEN 1 DIS 1
Improved DCGAN 2 GEN 1 DIS
Improved DCGAN 2
Improved DCGAN 1 GEN 3 DIS
Improved DCGAN 1 GEN 2 DIS
DCGAN RELU